/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/06/2015, 18:15:51
    Author     : Marcelo Augusto
*/
#bodyIndex{
/*    background-color: #000052;*/
}
#indexBody {
    background-image: url(../imagens/background-02.jpg);
    background-size: 100%;
    background-attachment: fixed;   
}
#junbotron{
    background-color: #004b00; 
    margin-bottom: 15px;
    border-bottom: 4px solid;
    border-color: white;
}
#col-img{
    margin-left: 6%;
}
#col-content-junbotron{
  text-align: right;
  padding-top: 30px;
  margin-left: 14%;
  color: white;
}
#col-content-junbotron small{
    color: #f8bc63;
}
#boasVindas{
    margin-top: -13px;
}
#col-login{
    margin-top: 10px;
    color:white;
}
#col-login b{
    margin-left: 10px;
}
#panel-login{
    padding: 7px;
    background-color: #d8d8d8;
}
.form-group-login{
    margin-bottom: 5px;
}
.height-100{
    width: 100%;
}
.btn-margin-0{
    padding: 2px;
}
.bacgroundDefalt{
    background-color: #ebebeb;
}
.botaoSalvar{
    width: 200px;
    margin-top: 15px;
}

.aposta{
    background-color: #ebebeb;
    border: 1px solid;
    border-radius: 2px;
    border-color: #d8d8d8;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 7px;
}
.btn-remover-aposta {
    position: absolute;
    margin-left: 79%;
}

.linkHover :hover, :visited{
    color:black;
    text-decoration: none;
    background-color: #ebebeb;
}
.linkBlack {
    color: black;
}

.textCenter{
    text-align: center;
}

#formularioLogin{
    margin-top: 50px;
}
#formularioLogin h2{
    margin: 10px;
}
#btEntrar{
    width: 100%;
}

#col-apostas{
    padding: 0px;
}
.margin-top-botom-0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.padding-left-right-0{
    padding-left: 0px;
    padding-right: 0px;
}
.padding-top-bottom-0{
    padding-top: 0px;
    padding-bottom: 0px;
}
.margin-top-15 {
    margin-top: 15px;
}
.width-100{
    width: 100%;
}

#cotacao{
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px solid;
    border-color: #d8d8d8;
}

/*perfil de apostador*/

#infoApostador{
    background-color: white;
    margin-bottom: 90px;
    padding-bottom: 20px; 
    border: 1px solid;
    border-color: #d8d8d8; 
    border-radius: 3px;
}
#infoApostador h5{
    padding-top: 8px;
}

.negrito{
    font-weight: bold;
}

.lg-20-p{
    width: 20%;
}